/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap'); */

/* Global */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: 'gotham', 'Arial', sans-serif;
  border: 0;
  background-color: transparent;
}

input,
textarea {
  font-family: 'gotham', 'Arial', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'gotham', 'Arial', sans-serif;
  margin: 0 auto;
  background-image: url(../src/components/Image/fon.svg);
  background-repeat: no-repeat;
  background-position: left;  
  background-attachment: fixed;
  background-size: 100% 100vh;
}

.container {
  margin: 0 auto;
  width: 1170px;
  position: relative;
}

.button {
  background: linear-gradient(180deg, rgba(255, 38, 8, 0.74) 0%, rgba(255, 158, 1, 0.92) 100%);
  border-radius: 29px;
  padding: 17px 45px;
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 20px;

}

.link {
  color: #FF9E01;
  font-family: 'gotham-light';
  font-size: 15px;

}

/* Header */

.page-header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 20px;
  margin-bottom: 60px;
}

/* Main */

main {
  padding-bottom: 100px;
}

/* Main content */

.main__title {
  font-family: 'gotham-bold';
  font-size: 208px;
  background: linear-gradient(180.9deg, rgba(255, 38, 8, 0.74) 0.77%, rgba(255, 158, 1, 0.92) 86.98%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 50px;
}

.main__text {
  font-weight: 400;
  font-size: 32px;
  margin: 0 0 100px;
}

.header__input {
  background: linear-gradient(180deg, rgba(149, 149, 149, 0.51) 0%, rgba(208, 208, 208, 0.6) 100%);
  border-radius: 29.5px;
  border: 0;
  padding: 18px 80px 18px 40px;
  width: 500px;
  font-weight: 300;
  font-size: 20px;
  color: #000;
}

.header__form {
  position: relative;
}

.header__form::after{
  content: "";
  background-image: url(../src/components/Image/magnifier.svg);
  width: 31px;
  height: 31px;
  position: absolute;
  right: 40px;
  top: 13px;
  cursor: pointer;
}   

/* Folders */

.main__folders {
  display: flex;
  justify-content: space-between;
  column-gap: 166px;
  row-gap: 80px;
  flex-wrap: wrap;
}

.main__folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  text-align: center;
  position: relative;
}

/* Avtorisation-box */

.avtorisation-box .container {
  margin-top: 70px;
  width: 1270px;
  height: 794px;
  background-color: #FBFBFB;
  display: grid;
  grid-template-columns: 635px 635px;
  box-shadow: 0px 4px 17px 3px rgba(0, 0, 0, 0.25);   
}

.left-column {
  background: url(../src/components/Image/avtorisation-fon.png) no-repeat;
  mix-blend-mode: difference;
}

.right-column {
  padding: 60px 49px;
}

.column-title {
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 100px;
  text-align: center;
  background: linear-gradient(180deg, #FF4905 21.88%, #FF8502 93.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.column-form {
  display: flex;
  flex-direction: column;
}

.column-form p{
  margin-top: 22px;
  text-align: center;
  font-family: 'gotham-light';
  font-size: 15px;
  color: #606060;
}

.column-input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #555;
  font-size: 30px;
  color: #555;
  background-color: transparent;
}

.column-label {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  font-family: 'gotham-light';
  font-size: 20px;
  color: #606060;
}

.avtorisation-label {
  margin-bottom: 78px;
}

.column-form div{
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.remember-me {
  font-family: 'gotham-light';
  font-size: 15px;
  color: #606060;
  display: flex;
  align-items: center;
  gap: 8px;
}

.remember-me input{
  margin: 0;
}

.avtorisation-button { 
  font-family: 'gotham-bold';
  align-self: center;
  width: 214px;
  margin-top: 55px;
  margin-left: 160px;
}

/* Registration */

.remember-me span{
  text-decoration: underline;
}

.registration-box .column-label:not(:last-of-type){
  margin-bottom: 36px;
}

/* Admin Catalog */

/* Profile */

.profile-block {
  background-color: #fff;
}

.profile-avatar {
  position: absolute;
  z-index: 1;
  left: 200px;
  top: 222px;
}

.user-name--profile {
  font-family: 'gotham-light';
  font-size: 26px;
  text-align: center;
  z-index: 2;
  color: rgb(189, 188, 188);
  text-align: center;
  margin-top: 470px;
}

.profile-data {
  font-family: 'gotham';
  font-size: 20px;
  color: #606060;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.profile-data:not(:last-of-type) {
  margin-bottom: 42px;
}

.profile-data__name {
  font-family: 'gotham-light';
}

.profile .column-title {
  margin-bottom: 0;
}

.profile .link {
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  display: block;
}

.back-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}

/* Staff */

.staff .container {
  margin-top: 40px;
  background: #FBFBFB;
  width: 1270px;
  height: 794px;
  box-shadow: 0px 4px 17px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 142px;
}

.staff__title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  background: linear-gradient(180deg, #FF4905 21.88%, #FF8502 93.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.staff__list {
  display: flex;
  flex-wrap: wrap;
  gap: 71px 45px;
}

.staff__item {
  background-color: #e9e9e9;
  border-radius: 10px;
  width: 190px;
  height: 215px;
  padding: 26px 28px 100px;
  text-align: center;
}

.staff__item img{
  width: 88px;
  height: 88px;
}

.staff__item span{
  color: #606060;
  font-size: 12px;
}

.staff__item span:first-of-type{
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
}

.back {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 54px;
  height: 54px;
}

.staff-add {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* CreatingProfile */

.add-avatar {
  position: absolute;
  left: 283px;
  top: 420px;
  z-index: 1;
  opacity: .9;
}

.creating-label {
  position: relative;
}

.creating-label::after {
  content: "";
  background-image: url(../src/components/Image/pen.svg);
  width: 27px;
  height: 27px;
  position: absolute;
  top: 15px;
  right: 0;
}

.creating-link{
  font-size: 20px !important;
  margin-top: 30px;
  text-decoration: none !important;
  position: relative;
}

.creating-link::before{
  content: "";
  width: 148px;
  height: 1px;
  background-color: #FF9E01;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translate(-50%);
}

.creating-input {
  font-size: 23px;
}

.creating-input[type = password] {
  font-size: 33px;
}



/* Modal */

.modal-profile {
  top: -250px;
  right: 70px;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  width: 256px;
  height: 268px;
  padding: 50px 100px 60px;
  display: flex;
  flex-direction: column;
  font-family: 'gotham-light';
}

.modal-profile__link {
  position: relative;
  margin-bottom: 14px;
}

.user-name {
  margin-bottom: 20px;
}
/* 
.modal-profile__link::before {
  content: "";
  background-color: #000;
  width: 86px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
} */

.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-close:before, .modal-close:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 27px;
  height: 4px;
  background-color: #FF2608;
  border-radius: 1px;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-close:before, .modal-close:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 27px;
  height: 4px;
  background-color: #FF2608;
  border-radius: 1px;
}

/* Admin Modal */

.admin-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 40px;
}

.modal-change {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 116px;
  height: 121px;
  right: -130px;
  bottom: -65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  z-index: 1;
}


.modal-change button {
  font-size: 12px;
}

/* Modal add */

.modal-add {
  top: -10px;
  right: 10px;
  text-align: center;
  align-items: center;
  position: absolute;
  box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  width: 256px;
  height: 268px;
  padding: 50px 100px 60px;
  display: flex;
  flex-direction: column;
}

.add-input {
  font-family: 'gotham-light';
  text-align: center;
  border: 0;
  border-bottom: 1px solid #464646;
  font-size: 14px;
  outline: 0;
  color: #A6A6A6;
  margin-top: 10px;
}

.add-link {
  font-size: 14px !important;
}

.add-link::before {
  width: 73px;
}